<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logo Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/logo-nav.css" rel="stylesheet">
    <link href="static/css/simple-sidebar.css" rel="stylesheet">

    <style>
        .nav-broad {
            padding-right: 4.5rem!important
        }
        .sidebar-active {
            color: #fff!important
        }

   .top-crop {
       overflow: hidden;
       /*max-height: 400px;*/
   }

   .top-crop img {
       max-height: 100%;
    }
    </style>

  </head>

  <body>
  {% set active_page = active_page|default('home') -%}

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              {% block navbar %}
            <li class="nav-item active">
              <a class="nav-link nav-broad" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item nav-broad">
              <a class="nav-link" href="/svm">Train & Test</a>
            </li>
            <li class="nav-item nav-broad">
              <a class="nav-link" href="#">News Data Collection</a>
            </li>
              {% endblock %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% block sidebar_elements%}

                {% endblock %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block container%}
                {%endblock%}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

  </body>

</html>