{% extends "train_test.html" %}

{% block sidebar_elements%}
<li>
    <a href="/naivebayes" class="sidebar-active">Naive Bayes</a>
</li>
<li>
    <a href="/svm">SVM</a>
</li>
<li>
    <a href="/comparison">Comparisons</a>
</li>
<li>
    <a href="/classify">Classify a News</a>
</li>
{% endblock %}

{% block container %}
<h1 class="mt-5">Naive Bayes baseline</h1>
<p>
    Chosen Features for <b>baseline</b>:
<ul>
    <li>
        70% data taken for training and 30% for testing.
    </li>
    <li>
        Term Frequency method was chosen to vectorize the news headline and news body
    </li>
    <li>
        Latent Semantic Analysis done to reduce the dimension of the feature vector to 30 dimensions preserving 93% of the variance.
    </li>
</ul>
</p>
<p>
    Chosen parameters from cross validation (5-fold):
<ul>
    <li>Alpha: 1</li>

</ul>

<h1 class="mt-5">Graphs</h1>

<h2>Receiver Operating Characteristics (ROC)</h2>

<img src="/static/plots/roc_nb.png">

<p>

<h2>Average precision</h2>

<img src="/static/plots/pr_rc_nb.png">

</p>
{%endblock%}