{% extends "index.html" %}

{% block sidebar_elements%}
<li>
        <a href="/about">About Project</a>
    </li>
    <li>
        <a href="/papers" class="sidebar-active">Papers</a>
    </li>
    <li>
        <a href="/block_diagrams" >Block Diagrams</a>
    </li>
    <li>
        <a href="/dataset">Dataset Info</a>
    </li>
{% endblock %}

{% block container %}
          <h1 class="mt-5">Put relevant papers here</h1>
          <p>
              Paper pdfs and their links.
          </p>
{%endblock%}