{% extends "base.html" %}

{% block sidebar_elements%}
    <li>
        <a href="/naivebayes">Naive Bayes</a>
    </li>
    <li>
        <a href="/svm">SVM</a>
    </li>
    <li>
        <a href="/comparison">Comparisons</a>
    </li>
    <li>
        <a href="/classify">Classify a News</a>
    </li>
{% endblock %}

{ % block navbar %}
        {% block navbar %}
            <li class="nav-item">
              <a class="nav-link nav-broad" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item nav-broad active">
              <a class="nav-link" href="/svm">Train & Test</a>
            </li>
            <li class="nav-item nav-broad">
              <a class="nav-link" href="#">News Data Collection</a>
            </li>
              {% endblock %}
{ % endblock %}



{% block container %}
          <h1 class="mt-5">Update the page with contents</h1>
          <p>
              Put block diagrams, paper links and dataset info etc.
          </p>
{%endblock%}