{% extends "base.html" %}

{% block sidebar_elements%}
    <li>
        <a href="/naivebayes">Naive Bayes</a>
    </li>
    <li>
        <a href="/svm">SVM</a>
    </li>
    <li>
        <a href="/comparison">Comparisons</a>
    </li>
    <li>
        <a href="/classify">Classify a News</a>
    </li>
{% endblock %}

{% block container %}
          <h1 class="mt-5">Update the page with contents</h1>
          <p>
              Put block diagrams, paper links and dataset info etc.
          </p>
{%endblock%}